@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --root-light: #bdbdbd;
  --root-dark: #181818;
  --base-100: #f8f8f8;
  --base-200: #eeeeee;
  --base-300: #d9d9d9;
  --base-400: #bdbdbd;
  --base-500: #9e9e9e;
  --base-600: #757575;
  --base-700: #616161;
  --base-800: #404040;
  --base-900: #333333;
  --base-1000: #282828;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.overlay {
  background: rgba(51 51 51 / 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  overflow-y: auto;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog {
  background-color: var(--root-dark);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  width: 90vw;
  max-width: 28rem;
  max-height: 85vh;
  overflow-y: auto;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog:focus {
  outline: none;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.dropdownMenu__content {
  max-height: 240px;
  overflow-y: auto;
  min-width: 220px;
  background-color: var(--base-1000);
  color: var(--base-300);
  padding: 0.5rem 0;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.dropdownMenu__content[data-side='top'] {
  animation-name: slideDownAndFade;
}

.dropdownMenu__content[data-side='right'] {
  animation-name: slideDownAndFade;
}

.dropdownMenu__content[data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.dropdownMenu__content[data-side='left'] {
  animation-name: slideDownAndFade;
}

.dropdownMenu__radioItem[data-disabled] {
  opacity: 0.75;
  pointer-events: none;
}

.dropdownMenu__radioItem[data-highlighted] {
  background-color: var(--base-900);
}

.dropdownMenu__arrow {
  fill: var(--base-400);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.divider {
  margin: 0.5rem 0;
  border-top: 1px solid var(--base-200);
}

.tooltip__content {
  border-radius: 4px;
  padding: 8px 12px;
  color: var(--base-400);
  background-color: var(--base-900);
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.tooltip__content[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.tooltip__content[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.tooltip__content[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.tooltip__content[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.TooltipArrow {
  fill: var(--base-900);
}
