@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/blue.css';

$max-width: 32rem;
$wallet-bg: white;
$sm-breakpoint: 576px;

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f9fafb;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0.5rem;
  overflow: hidden;
  @media (min-width: $sm-breakpoint) {
    padding: 1rem;
  }
}

.cloud-wallet {
  background-color: $wallet-bg;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 2rem);
  max-width: $max-width;
  margin: auto;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  @media (min-width: $sm-breakpoint) {
    padding: 1rem 2rem;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #60a5fa;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__btn {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #eeeeee;
    border-radius: 9999px;
    text-decoration: none;
    font-size: 0.75rem;
    background-color: white;
    cursor: pointer;
    &:hover {
      background-color: #f2f2f2;
    }

    &__status {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      background-color: #16a34a;
      margin-right: 0.5rem;
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #eeeeee;
    border-radius: 9999px;
    text-decoration: none;
    font-size: 0.75rem;
    background-color: white;

    &__status {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      background-color: #94a3b8;
      margin-right: 0.5rem;
    }
  }
}

.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 1rem;
  position: sticky;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  @media (min-width: $sm-breakpoint) {
    padding: 1rem 2rem;
  }

  &__caption {
    font-size: 0.75rem;
  }

  &__links {
    display: flex;
    flex-direction: row;
    text-decoration: none;

    a {
      text-decoration: none;
    }
  }

  &__link {
    border: 2px solid #f9fafb;
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin: 0 0.5rem;
    font-size: 0.75rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: $wallet-bg;

    &:hover {
      background-color: #f9fafb;
    }

    &__icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 0.1rem;

      @media (min-width: $sm-breakpoint) {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__link--active {
    border-width: 2px;
    border-color: #bfdbfe;
  }
}

.container {
  position: relative;
  flex-grow: 1;
  padding: 0.75rem 1rem;
  // height: 100%;
  // margin-bottom: 100px;
  // margin-bottom: 1rem;

  @media (min-width: $sm-breakpoint) {
    padding: 1rem 2rem;
  }
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connect-wallet-btn {
  padding: 1rem 1.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-decoration: none;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  &:hover {
    background-color: #f2f2f2;
  }
}

.wallet-card {
  margin-bottom: 1rem;

  &__info {
    display: flex;
    align-items: center;
  }
}

.copy-btn {
  padding: 0.5rem;
  border: 1px solid #eeeeee;
  border-radius: 9999px;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  cursor: pointer;
  background-color: #f3f4f6;
  &:hover {
    background-color: #e5e7eb;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
  }

  &__alert {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    background-color: #ecfdf5;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
  }
}

.copy-btn-wrapper {
  display: inline-flex;
  align-items: center;
}

.connect-dapp {
  border: 1px dashed #eeeeee;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;

  &__prompt {
    font-size: 0.875rem;
    text-align: center;
  }

  @media (min-width: $sm-breakpoint) {
    padding: 2rem;
  }
}

.scan-qr {
  background-color: #f9fafb;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  margin: 1.5rem 0;
  width: 100%;

  @media (min-width: $sm-breakpoint) {
    padding: 2rem;
  }

  &__btn {
    padding: 0.5rem 1rem;
    background-color: #e5e7eb;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin-top: 1rem;
    cursor: pointer;
    &:hover {
      background-color: #d1d5db;
    }
  }
}

.paste-qr {
  &__copy {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media (min-width: $sm-breakpoint) {
      flex-wrap: nowrap;
    }
  }

  &__input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    font-size: 0.875rem;
  }

  &__btn {
    padding: 0.5rem 1rem;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    width: 100%;
    cursor: pointer;
    background-color: #f3f4f6;
    &:hover {
      background-color: #e5e7eb;
    }
    @media (min-width: $sm-breakpoint) {
      margin-top: 0;
      margin-left: 0.5rem;
      width: auto;
    }
  }
}

.qrIcon {
  width: 6rem;
  height: 6rem;
  color: #d1d5db;
}

.qr-reader {
  width: 100%;
  height: calc(100% - 220px);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__mask {
    width: 100%;
    border-radius: 15px;
    overflow: hidden !important;
    position: relative;
  }
}

.section {
  margin-bottom: 2rem;

  &__title {
    margin-bottom: 0.75rem;
  }
}

.tab {
  &__title {
    margin-bottom: 1rem;
  }
}

.mint-pkp {
  &__title {
    margin-bottom: 1rem;
  }

  &__btn {
    padding: 0.5rem 1rem;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin-top: 1.5rem;
    width: 100%;
    cursor: pointer;
    background-color: #f3f4f6;
    &:hover {
      background-color: #e5e7eb;
    }
  }
}

.session-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #eeeeee;
  border-radius: 0.5rem;
  flex-wrap: wrap;

  @media (min-width: $sm-breakpoint) {
    flex-wrap: nowrap;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    @media (min-width: $sm-breakpoint) {
      flex-wrap: nowrap;
      margin-bottom: 0;
    }
  }

  &__description {
    font-size: 0.875rem;
    margin: 0.25rem 0;
  }

  &__icon {
    width: 3rem;
    height: 3rem;

    margin-right: 1rem;
    border-radius: 0.25rem;
  }

  &__link {
    font-size: 0.875rem;
    color: #4b5563;
  }

  &__no-link {
    font-size: 0.875rem;
  }

  &__btn {
    flex-shrink: 0;
    padding: 0.25rem 0.5rem;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    cursor: pointer;
    background-color: #f3f4f6;
    &:hover {
      background-color: #e5e7eb;
    }
    @media (min-width: $sm-breakpoint) {
      margin-left: 1rem;
    }
  }
}

.empty-state {
  font-size: 0.875rem;
  border: 1px dashed #eeeeee;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #f9fafb;
  color: #4b5563;
  text-align: center;
}

.request-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #eeeeee;
  border-radius: 0.5rem;
  margin-top: 0.5rem;

  &__title {
    font-size: 0.875rem;
  }

  &__link {
    font-size: 0.75rem;
    color: #4b5563;
  }

  &__badge {
    margin-left: 1rem;
    padding: 0.25rem 0.5rem;
    // border: 1px solid #eeeeee;
    border-radius: 1rem;
    font-size: 0.75rem;
    margin-left: 0.5rem;

    &--pending {
      color: #b45309;
      background-color: #fffbeb;
    }
    &--success {
      color: #065f46;
      background-color: #ecfdf5;
    }
    &--error {
      color: #991b1b;
      background-color: #fef2f2;
    }
    &--rejected {
      color: #6b7280;
      background-color: #f9fafb;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.request {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    @media (min-width: $sm-breakpoint) {
      width: 6rem;
      height: 6rem;
    }
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  .section {
    margin-top: 1rem;
  }

  &__footer {
    flex-shrink: 0;
    display: flex;
    padding-bottom: 2rem;
    position: sticky;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  &__btn {
    padding: 0.5rem 1rem;

    border-radius: 0.5rem;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    width: 100%;
    cursor: pointer;

    &:first-of-type {
      border: 1px solid #eeeeee;
      background-color: white;
      &:hover {
        background-color: #f3f4f6;
      }
      margin-right: 0.5rem;
    }

    &:last-of-type {
      border: 1px solid #eeeeee;
      background-color: #f3f4f6;
      &:hover {
        background-color: #e5e7eb;
      }
    }
  }

  &__message {
    background-color: #f3f4f6;
    border-radius: 0.25rem;
    padding: 1rem;
  }
}

.alert {
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;

  &--error {
    background-color: #fef2f2;
  }
}

.dropdownMenu__content {
  min-width: 220px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-side='top'] {
    animation-name: slideDownAndFade;
  }

  &[data-side='right'] {
    animation-name: slideDownAndFade;
  }

  &[data-side='bottom'] {
    animation-name: slideUpAndFade;
  }

  &[data-side='left'] {
    animation-name: slideDownAndFade;
  }
}

.dropdownMenu__item,
.dropdownMenu__radio-item {
  font-size: 0.875rem;
  line-height: 1;
  color: var(--violet11);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  position: relative;
  user-select: none;
  outline: none;
}

.dropdownMenu__item[data-disabled],
.dropdownMenu__radio-item[data-disabled] {
  color: var(--blue8);
  pointer-events: none;
}
.dropdownMenu__item[data-highlighted],
.dropdownMenu__radio-item[data-highlighted] {
  background-color: var(--blue9);
  color: var(--blue1);
}

.dropdownMenu__label {
  padding-left: 1.5rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: gray;
}

.dropdownMenu__separator {
  height: 1px;
  background-color: #eeeeee;
  margin: 0.5rem 0;
}

.dropdownMenu__itemIndicator {
  position: absolute;
  left: 0;
  width: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropdownMenu__arrow {
  fill: white;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.opensea-copy {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: gray;

  a {
    color: gray;
  }
}
